body {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.red-custom {
    background-color: #b71540;
}

.navbar-color {
    background-color: #b71540;
}

.input-big{
    width: 20em;
}

.avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.btn-login-color {
    color: #FFF;
    background-color: #7f8fa6;
    border-color: #7f8fa6;
}

button .btn-wine-color:hover {
    color: #FFF;
}

.btn-wine-color {
    color: #FFF;
    background-color: #b71540;
    border-color: #b71540;
}

.filter-custom {
    background-color: #c23616;
}

.pointer {
    cursor: pointer;
}